body {
  padding-top: 5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* font-family: "Liberation Sans"; */
  font-size: 1.2rem;
}
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
}
