<p><center><img src="media/88aa284b-fac7-495d-b451-acba731bb5f3.jpg" style="width:480px" alt="" /></center></p>
<p><center><img src="media/0809a3dd-6953-48f3-b241-aea97acbddd9.jpg" alt="" /></center></p>
<p><center><strong>RESIDENCIA ARTÍSTICA INTENSIVA Y FESTIVAL DE ARTES MULTIDISCIPLINARES</strong></center></p>
<p><strong>CALAFOU, CATALUÑA. DEL 17 AL 27 DE MAYO DE 2023</strong></p>
<p>LIMINÁLICA es un proyecto de residencia artística intensiva en un entorno rural que convoca la presencia de artistas plásticos, audiovisuales, experiméntales, escénicos e híbridos para la creación individual o simbiótica.</p>
<p>Las y los participantes deberán finalizar algún proyecto en el que estén trabajando previamente o, crear un producto artístico material o inmaterial desde cero y acabarlo durante la estancia. También, si el proyecto lo demanda, podrá acabarse solo alguna fase del mismo, pero capaz de ser expuesta durante la muestra final, es decir, durante el Festival de Artes Multidisciplinares (FAM) que se realizara dentro del mismo marco y sitio que la residencia.</p>
<p>Por su carácter liminal, este retiro de creación pretende explorar el umbral entre mundos divergentes, como por ejemplo el mundo rural-urbanita, el sueño-vigilia, la razón-emoción, lo análogo-digital, la ciencia-magia, lo tangible-intangible y todos aquellos escenarios y estados limítrofes que quizá pueden cortocircuitar la conciencia convencional. Esto con el fin de propiciar la originalidad en la producción de formas culturales y artísticas entre las personas participantes.</p>
<p><strong>¿A QUIÉN SE CONVOCA?</strong></p>
<p>A artistas nacionales e internacionales de todas las disciplinas: pintura, forja, diseño, instalación, muralismo, teatro, audiovisuales, arte objeto, performance, collage, arte lumínico, serigrafía, música, arte textil, ebanistería, edición de fanzines, escultura, literatura, ilustración, danza, intervención urbana, land art, circo, transmedia, fotografía, grabado, comic, arte sonoro, poesía y el largo etcétera de ramas, formas y técnicas del arte.</p>
<p><strong>¿POR QUÉ VENIR A HACER UNA ESTANCIA EN LIMINÁLICA? He aquí seis razones:</strong></p>
<p><strong>1.-Por cohesión grupal y valor social:</strong> Cuando conviven en un mismo hábitat varias personas poseedoras de potencia creativa -y además son nuevas entre sí- la conexión y cohesión surge casi por antonomasia y se crea tribu, simbiosis creativa, retroalimentación, motivación e inspiración mutua. Las disciplinas tan variadas encuentran sus puntos de conexión, se difuminan los límites y pueden llegar a crearse auténticas obras liminales. Quien sabe, quizá en esta convergencia surgen enormes ideas disruptivas y de impacto social para futuro, además de alianzas, colaboraciones, redes de trabajo y por supuesto, gran compañerismo y buenas amistades.</p>
<p><strong>2.-Por el espacio:</strong> el ambiente post industrial en el que se desarrollara el retiro es muy interesante para la experimentación artística. Además, el entorno rural posee posibilidades lúdicas son muy ricas, las cuales se explicaran con más detalle abajo en la sección de ocio.</p>
<p><strong>3.-Por ser intensiva:</strong> ¿Necesitas un espacio donde desconectar del bullicio y concentrarte 100% en realizar tu arte? Liminálica es un retiro de creación que ofrece por su naturaleza intensiva, la posibilidad y facilitación de establecer disciplina para la consecución del objeto de arte. Son 10 días efectivos de foco y atención en el desarrollo y finalización de los proyectos. Pueden llevarse a cabo jornadas de entre cuatro, seis, ocho (o más) horas al día para dedicarse arduamente a las artes sin preocuparse por otras cosas del quehacer diario como cocinar, ya que los alimentos estarán incluidos. Asi pues, cada día es una oportunidad para avanzar de lleno en la culminación de las piezas.</p>
<p><strong>4.-Por su valor curricular:</strong> quien haya participado en alguna residencia de esta índole sabe que estas aportan un interesante recurso de experiencia y de aprendizaje en el desempeño de su labor artística. En Liminálica apostamos por fomentar estas experiencias entre las y los residentes, para aportar así a su historial de formación y creación. Se entregara pues un documento personalizado que da constancia de la participación completa de la persona residente con valor curricular. En esta constancia se dará fe de:</p>
<p>1.- El proyecto realizado satisfactoriamente por once días. Incluye constancia en horas de desempeño y breve descripción de la pieza de arte, cultural o intelectual.</p>
<p>2.- La presentación del resultado final durante el Festival de Artes Multidisciplinares. El documento atestiguara la presencia del artista como exponente oficial de la muestra colectiva.</p>
<p>Nota: Dicha constancia es opcional.</p>
<p><strong>5.-Por su promoción:</strong> iremos haciendo posts promocionando la imagen y los proyectos de las y los artistas en nuestra cuenta de Instagram. Liminálica hará orgullosa difusión de sus residentes, dando una probadita al público en RR SS sobre qué es lo que se cuece en la residencia o, sobre los proyectos en los que estas y estos, hayan trabajado con anterioridad. Dicha promoción servirá también para crear eco y para crear expectativa entre el público para que asista a la muestra del sábado 27 de mayo.</p>
<p><strong>6.-Por su oportunidad de vender tus piezas:</strong> el sábado 27 se celebrará el FAM con un mercado de arte abierto al público<strong>.</strong> Las y los residentes que generen algún tipo de producto comercializable podrán ponerlo en venta si así lo desean en los stands previstos a lo largo de ese día. Podrán traer mercancía hecha previamente como prints, esculturas, artesanías, cuadros, material discográfico, fanzines, entre otras piezas. Los beneficios irán íntegros para sus creadores y creadoras.</p>
<p><strong>¿Quieres ser parte de esta convergencia entre agentes creadores de arte, cultura, estética, discurso, acción y magia?</strong></p>
<p><strong>¿CUÁNDO Y DÓNDE?</strong></p>
<p>Se llevara a cabo del martes 17 al sábado 27 de mayo de 2023, en la comunidad rural de Calafou, provincia de Barcelona.</p>
<p><strong>SOBRE EL ESPACIO</strong></p>
<p>Calafou es una antigua colonia industrial situada en un bosque en la Zona de la Anoia, a una hora aproximada en coche desde Barcelona y muy cerca de la estación del tren Vallbona de A´noia. Es un proyecto ecoindustrial, que se sostiene a base de proyectos productivos y de índole autogestiva como eventos y residencias sin subvenciones de ningún tipo. El enorme conjunto de fincas alberga una cooperativa de vivienda, pero también, un espacio de creación social, cultural y política que ha acogido una gran cantidad de eventos y residencias durante sus más de once años de vida. Calafou es un conjunto de viejas naves, algunas completamente reformadas y otras en romántico estado semi ruinoso en un entorno rural. Todo el complejo cuanta con cientos de metros cuadrados en los que hay salas diáfanas esperando ser habitadas por creadores y creadoras de todo tipo de artes. Si te gusta lo ruinoso, lo wabi sabi, los rincones y estéticas bohemias e incluso, los toques y ambientes post apocalípticos en medio de la naturaleza, sin duda este puede ser un enclave de inspiración para ti.</p>
<p>Aquí puedes conocer más del espacio y del proyecto:</p>
<p><a href="https://calafou.org/">https://calafou.org/</a></p>
<p><a href="https://wiki.calafou.org/index.php/Portada">https://wiki.calafou.org/index.php/Portada</a></p>
<p><a href="https://ca.wikipedia.org/wiki/Ca_la_Fou">https://ca.wikipedia.org/wiki/Ca_la_Fou</a></p>
<p><strong>ESPACIOS DISPONIBLES EN CALAFOU PARA LA CREACIÓN ARTÍSTICA</strong></p>
<p><strong>Ve al link “galería de imágenes”, ahí podrás ver para ver varias fotografías de estos espacios y algunos otros rincones de Calafou.</strong></p>
<p><strong>Planta alta de nave nueva:</strong> espacioso edifico reconstruido donde se pueden llevar a cabo principalmente actividades físicas, posee un modesto gimnasio. Cuenta con la altura posible para poner telas u otros instrumentos para las artes escénicas.</p>
<p><strong>Espacio anexo a la gran sala de la nave nueva</strong>: se trata de un gran salón diáfano y rustico para usos múltiples.</p>
<p><strong>Termita:</strong> es la antigua iglesia de lo que fuera la colonia. Hoy en día esta reformada y convertida en una de las joyas de Calafou para exposiciones, instalaciones e intervenciones. Pero también como sala de co-creación.</p>
<p><strong>Talleres de Madera y Metal:</strong> Calafou cuenta con dos grandes talleres con maquinaria pesada destinada al trabajo de carpintería, así como otro espacio dedicado a la soldadura de metales.</p>
<p><strong>Naroma:</strong> es un espacio que ha albergado talleres de serigrafía. Cuenta con algunos equipamientos para dicha labor</p>
<p><strong>Artemisa:</strong> es un pequeño atelier donde puede llevarse a cabo un coworking de escultura, stopmotion (brazo mágico y ordenador con dragonframe), pintura, grabado, fotografía (luz roja para revelado), caligrafía, dibujo, collage, cianotipia, entre otras artes manuales.</p>
<p><strong>Centro social:</strong> Es un espacio donde se llevan a cabo actividades lúdicas y festivas. Cuenta con un bar y es también el sitio que funge de comedor. El espacio cuenta con equipo de sonido que puede ser complemento de aquellos artistas sonoros y músicos.</p>
<p><strong>Zona Camping:</strong> es una zona arbolada donde pueden llevarse ensayos y actividades experimentales al aire libre</p>
<p><strong>Zona cero:</strong> es un área <em>post apocalíptica</em> ideal para escenario de sesiones de fotografía y vídeo. Asi como zona de instalación, ensayo y experimentación.</p>
<p><strong>Ofitech:</strong> espacio destinado para el trabajo de escritorio. Aquí se puede trabajar en el ordenador o usar las mesas para cualquier labor artística o de investigación que lo requiera. Cuenta con pantalla y proyector.</p>
<p><strong>Biblioteca:</strong> es un espacio que alberga miles de libros en sus estanterías. Cuenta con zona de sofás y escritorios. Ideales para momentos de realax y labor creativa o de investigación más introspectiva.</p>
<p><strong>Biolab:</strong> es una sala que ha albergado algún pequeño laboratorio de biología, pero que tiene un potencial aun por explorar y ocupar. Totalmente disponible para cualquier uso de las y los artistas</p>
<p>Además hay miles de rincones y áreas en desuso ideales para echar a volar la imaginación.</p>
<p>Nota sobre servicios: Calafou cuenta con baños secos, internet y dos duchas de con agua caliente. A 1.7 km de Calafou está el pueblecito con farmacia, tienda de alimentación y estanco.</p>
<p><strong>SOBRE EL HOSPEDAJE</strong></p>
<p>Calafou dispone de una finca <em>sleeping</em> llamado Casa roja. En ella, las personas residentes de Liminálica dormirán distribuidas en cuatro grandes habitaciones. Dos de estos dormitorios compartidos tienen literas y otros dos, están dispuestos con camas individuales.</p>
<p>Es importante decir que dadas las características del espacio, las personas que no estén acostumbradas o que no apetezcan de hospedajes tipo “hostal” puede que no vean en Casa Roja su sitio idílico.</p>
<p>Si te apetece, puedes traes tu furgoneta camperizada o tienda de campaña para dormir ahí, puesto que hay sitio para ambas opciones.</p>
<p><strong>¿CÓMO SERÁ EL DESARROLLO DE LA RESIDENCIA Y DE LA MUESTRA (FAM)?</strong></p>
<p><strong>Tiempo de creación:</strong> diariamente a partir del miércoles 17 de mayo, las y los residentes trabajaran durante las mañanas y las tardes en sus proyectos con un receso al mediodía para la comida. Por lo tanto, se estima que por día se podrá dedicar a la creación entre 4 y 8 horas. Sin embargo, cada residente es totalmente libre de administrar su tiempo dedicado a su proyecto como le apetezca y necesite.</p>
<p><strong>Ocio:</strong> por las noches podrán hacerse juegos de mesa, proyecciones de películas, hogueras, contemplar las estrellas, recitales, dinámicas lúdicas o pequeños cabarets internos. También, cada residente es libre de reservarse algunas horas de su día de manera autónoma para actividades en la naturaleza: paseos, picnics, deporte, yoga, meditaciones, etc. Calafou tiene además un pequeño gimnasio que puede ser utilizado por quienes deseen entrenar durante sus ratos libres en la estancia. Algunos de los Sitios de interés cercanos a Calafou para hacer excursiones son: la cueva del mamut, una fabulosa red de grutas con más de 300 metros de profundidad. Pineda de Can Ferer del Coll, que alberga los especímenes de pinos más altos de Cataluña. También se puede pasear por la rivera del rio Anoia, hacer una caminata al castillo de Cabrera y, aunque más lejos, también está La riera del Carme para quien guste de alguna excursión más larga y con sitio para bañarse. Además, si te gusta la bici de montaña, puedes traer la tuya y hacer rutas por los alrededores.</p>
<p><strong>Comidas:</strong> Del miércoles 17 al sábado 27, se servirá el desayuno a las 9:00 horas, la comida a las 14:00 y la cena a las 20:00. El sábado, la comida y la cena será en el marco del festival, por lo que se compartirá con la gente que venga a disfrutar de la muestra de las obras. El desayuno para quienes sigan el domingo por la mañana corre a la cuenta de la organización. Liminálica apuesta por la salud y la ética, por lo tanto, todos los menús serán ricos, nutritivos, 100% vegetarianos y con la mayor proximidad posible de algunos de ingredientes.</p>
<p><strong>Llegada y partida:</strong> Las personas que así lo deseen, podrán llegar desde el martes 16 por la tarde para comenzar temprano del día siguiente con el arranque oficial de la residencia y estar a tiempo para la presentación conjunta. La jornada de creación como tal acaba el viernes 26 al mediodía. Por la tarde de ese mismo viernes se comenzara a montar la expo y los detalles del Festival de Artes Multidisciplinares, por lo que es deseable que las obras estén conclusas para este momento. Por la mañana del sábado se finalizara la instalación de los últimos detalles del FAM, el cual abre sus puertas al público a partir del mediodía. Quien lo desee puede partir el sábado en cualquier momento, o el domingo por la mañana.</p>
<p><strong>CALENDARIO DEL EVENTO:</strong></p>
<p><strong>MARTES 16.</strong></p>
<p>18:00 H. Momento a partir de la cual pueden llegar las y los residentes que lo deseen para amanecer ya en Calafou, y comenzar temprano con las actividades programadas del miércoles. (Quien duerma esta noche en Calafou se le cobrara el hospedaje y cena extra correspondiente)</p>
<p><strong>MIÉRCOLES 17.</strong></p>
<p>09:00 – 11:00 H. Desayuno</p>
<p>11:00 H. Hora límite de llegada a Calafou</p>
<p>11:30 H. Bienvenida y Dinámica de presentación</p>
<p>12:30 H. Recorrido guiado por las instalaciones</p>
<p>14:00 H. Comida</p>
<p>16:00 H. Comienza la jornada de creación</p>
<p>20:00 H. Cena</p>
<p>Nota: Todos Los horarios de las comidas serán los mismos para el resto de los días.</p>
<p><strong>VIERNES 26.</strong></p>
<p>13:30 H. Finaliza la jornada de creación.</p>
<p>16:00 H. Comienza montaje e instalación de las piezas para la muestra (FAM)</p>
<p><strong>SÁBADO 27.</strong></p>
<p>10:00 H. Últimos detalles de montaje de FAM</p>
<p>13:00 H. Inauguración:</p>
<ul class="incremental">
<li><p>Vermut de apertura al público del Festival de Artes Multidisciplinares.</p></li>
<li><p>Mercado de artistas: stands a lo largo de la jornada con las creaciones de residentes e invitados.</p></li>
<li><p>Música y Djs a lo largo de la jornada.</p></li>
<li><p>Servicio de bar a lo largo de la jornada (bebidas alcohólicas, no alcohólicas y pinchos)</p></li>
</ul>
<p>14:00 H. Comida pública.</p>
<p>15:30 H. Primera ronda de shows. Presentación al público de las piezas escénicas.</p>
<p>17:00 H. Primera ronda de tour por la exposición de las piezas materiales.</p>
<p>18:30 H. Segunda ronda de shows. Presentación al público de las piezas escénicas.</p>
<p>19:30 H. Segunda ronda del tour de las piezas materiales.</p>
<p>20:00 H. Cena pública.</p>
<p>21:00 H. Tercera ronda de shows. Presentación al público de las piezas escénicas.</p>
<p>22:00 H. Inicio de la gran Fiesta de clausura.</p>
<p><strong>PRECIO</strong></p>
<p>La estancia tiene un costo simbólico para cubrir gastos del proyecto. El precio por persona es de 15.50 euros diarios, cifra que se desglosa en: 3.50 euros de hospedaje (para la organización y para el mantenimiento de Calafou), 3 euros por desayuno, 4.50 por la comida y 4.50 por la cena. La residencia por lo tanto tiene un costo de 170.50 euros sin la constancia como participante de la residencia. Para ser poseer este documento habrá que sumar su costo, el cual es de 12.50 euros. Por lo tanto, el precio total de la estancia, más las tres comidas diarias y el documento que avala la participación es de 183 euros. La forma de pago será a través de Paypal, efectivo o ingreso a una cuenta bancaria. Todo ello con un mes de antelación a la fecha del inicio de la residencia.</p>
<p>Nota importante: No se aceptaran pagos parciales, ni fuera de los tiempos establecidos. En caso de hacer el pago en efectivo, ponerse en contacto con la organización.</p>
<p><strong>SELECCIÓN</strong></p>
<p>Liminálica acogerá 20 proyectos, los cuales serán seleccionados con criterio de interés discursivo, estético, innovación y originalidad.</p>
<p><strong>SOLICITUD Y RESULTADOS</strong></p>
<p>La solicitud para participar en Liminálica será exclusivamente a través del formulario que está más adelante en el link. La convocatoria abre el día <strong>lunes 27 de febrero</strong> y cierra el <strong>domingo 2 de abril a las 23:59 horas.</strong> Esta es la fecha límite para enviar solicitud de plaza, fuera de este periodo no se recibirán más propuestas.</p>
<p>Los días posteriores, los proyectos que resulten seleccionados serán notificados vía correo electrónico a más tardar el <strong>lunes 10 de abril</strong>. Los 20 proyectos seleccionados tendrán un plazo de una semana para hacer el pago o la emisión del mismo, es decir, deberán pagar los <strong>170.50 euros</strong> (o <strong>183 euros</strong> en caso de incluir constancia) <strong>antes del día</strong> <strong>17 de abril</strong>. En caso de no haber efectuado el pago o de no haberlo emitido, se descartara la propuesta y se incluirá a otro proyecto que no haya figurado entre los 20 iniciales.</p>
<p>Una vez realizado el pago, se tiene garantizada la plaza en la residencia. Se te pedirán algunos datos extras y se te darán más información necesaria vía correo electrónico. Algunas de las cosas que te pediremos si eres seleccionado serán algunas fotos de tus obras y una descripción para publicarte en un post de carrusel en nuestra cuenta Instagram y en la web.</p>
<p>A partir del día 24 de abril publicaremos en nuestras plataformas los nombres de las y los residentes seleccionados.</p>
<p><strong>EXTRAS A SABER:</strong></p>
<p>Si tu proyecto es en pareja o colectivo (máximo 3 personas por proyecto), los costos por persona son los mismos.</p>
<p>En caso de dormir en vehículo camperizado o tienda de campaña propia, los costos son los mismos.</p>
<p><strong>AQUÍ TIENES EL FORMULARIO:</strong></p>
<p><a href="https://framaforms.org/formulario-liminalica-primavera-2023-1676655462"><strong>https://framaforms.org/formulario-liminalica-primavera-2023-1676655462</strong></a></p>
<p><strong>CONTACTO: Si tienes cualquier duda, escribe a la dirección de correo electrónico que se encuentra dentro del mismo link y con gusto te responderemos.</strong></p>
<p><strong><a href="/media"">AQUÍ TIENES LA GALERÍA DE IMÁGENES</a>. Fotos de Calafou y sus diversos espacios disponibles durante la celebración de la residencia:</strong></p>
